.parentPapper{
  text-align: center;
}
.cardAddress{
  margin:5%;
}
.cardTitle{
  margin:5%;
}
.checked {
    color: orange;
}
.fa {
    font-size: 25px;
}

.loading{
   float:right;
 }
 .svgColor{
fill:white !important;
}
.C{
     /* float:right; */
     display: block;
     margin-left:50%;
    margin-top:10%;
 /* margin-right:auto; */
}
